environment:
  matrix:
    - PYTHON: "C:\\Python27"

install:
  - "%PYTHON%\\python.exe -m pip install pytest"
  - "%PYTHON%\\python.exe -m pip install pytest-cov"
  - "%PYTHON%\\python.exe -m pip install pytest-mock"
  - "%PYTHON%\\python.exe -m pip install prospector==1.2.0"
  - "%PYTHON%\\python.exe -m pip install codecov"
  - "%PYTHON%\\python.exe -m pip install -r requirements.txt"

build: off

test_script:
  - "%PYTHON%\\Scripts\\prospector.exe"
  - "%PYTHON%\\Scripts\\pytest.exe --cov=./ --cov-report=xml"

on_success:
  - "%PYTHON%\\Scripts\\codecov.exe"
