name: Python test and lint

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  pytest:
    name: Run tests on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python_version: [2.x]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python_version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python_version }}
    - name: Install dependencies
      run: |
        pip install pytest
        pip install pytest-cov
        pip install pytest-mock
        pip install requests
        pip install codecov
        pip install -r requirements.txt
    - name: Test with pytest
      run: |
        pytest -vv --cov=./ --cov-report=xml
    - name: Report code coverage
      run: |
        codecov
